:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #202020;
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #535bf2;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px 20px;
  font-weight: 300;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  color: #1c4e80;
}

table thead th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #1c4e80;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #7e909a;
}

button.close {
  margin: 0;
  background-color: #f1f1f1;
  color: #7e909a;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 10px;
  margin: 50px 0;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
  color: #777777;
}

.sticky {
  overflow: hidden;
  background: #1c4e80;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  width: 100%;
}
.sticky h1 {
  color: #f1f1f1;
}

.sticky + .container {
  padding-top: 30px;
}
.container {
  justify-content: flex-start; /* Align panels to the left of the view */
  gap: 10px;
  width: 100vw;
  height: 95vh; /* Full height of the browser */
}
.panel {
  background: #ffffff;
  overflow: auto;
  padding: 20px;
  margin-bottom: 10px;
}
.panel-flex {
  display: flex;
  gap: 10px;
}
.panel-flex-col {
  flex-direction: column;
}
.panel-flex-row {
  flex-direction: row;
}
.panel h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.panel-stacks {
  height: 30%;
}
.panel-instances {
  height: 60%;
}

.panel-header {
  display: flex;
}
.panel-instance-section {
  display: flex;
  flex-direction: column;

  column-gap: 10px;
  row-gap: 10px;
  height: 50%;
}

.panel-instances {
  flex: 2;
}
.panel-history {
  flex: 1;
}
.spacer {
  margin: 0 30px;
}

.config {
  margin: 10px 0;
}
.config > span {
  display: block;
  font-size: small;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #eff094;
}
.config > p {
  margin: 0;
  padding: 0;
}
.table_instance tr td:first-child {
  font-weight: bold;
  width: 40%;
}
.selected {
  background-color: #e9fbfc; /* Or any color you prefer */
}
.highlight {
  color: #ea6a47; /* Or any color you prefer */
}
.loading {
  text-align: center;
  font-size: 2rem;
  background-color: #fffeab;
}

/* index.css */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .panel {
    height: auto; /* Reset height to auto for mobile */
  }
}
